imageio==2.24.0
matplotlib==3.6.3
numpy==1.22.4+mkl
opencv_python==4.7.0.68
paddle==1.0.2
paddleocr==2.6.1.2
paddlepaddle==2.4.1
Pillow==9.4.0
PyAutoGUI==0.9.53
pynput==1.7.6
pytesseract==0.3.10
python_Levenshtein==0.20.9
pywin32==305
PyYAML==6.0
scipy==1.10.0
telegram==0.0.1
win32gui==221.6
